div.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.CPUContainer {
  padding: 5px;
  border: solid 2px darkgoldenrod;
  border-radius: 10px;
  margin: 10px;
  width: 400px;
  display: flex;
}
div {
  &.nodeDescription {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    color: white;
    h2{
      margin-bottom: 2px;
    }
    div {
      &.tools {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
table {
  width: 230px;
}
