<div class="queueContainer">
    <h2> Queue Instructions container</h2>
    <mat-chip-list class="queue" aria-label="queue ">
        <mat-chip  [matBadge]="item.nodeId" matBadgePosition="after" matBadgeColor="accent" matBa [color]="item.operation ==='CALC'? 'accent':item.operation ==='READ' ? 'warning' : 'primary'  " class="instruction" *ngFor="let item of list " selected>
            {{item.operation}}
            <ng-container *ngIf="item.operation === 'READ' || item.operation === 'WRITE'">
                {{item.address}}
            </ng-container>
            <ng-container *ngIf="item.operation === 'WRITE'">
                {{item.value}}
            </ng-container>
        </mat-chip>
    </mat-chip-list>
</div>