div {
  &.queueContainer {
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
    h2 {
      color: white;
    }
    width: 98%;
    mat-chip-list.queue {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      overflow-x: scroll;
      height: 80px;
      mat-chip .instruction {
        margin-left: 5px;
      }
    }
  }
  margin: 10px;
}
