div {
  &.queueContainer {
    width: 100%;
    mat-chip-list.queue {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      overflow-x: scroll;
      max-height: 150px;
      mat-chip .instruction {
        margin-left: 5px;
      }
    }
  }
  margin: 10px;
}
