div {
  &.clusterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &.memories {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    div {
      border-radius: 10px;
      color:white;
      &.cacheL2Container {
        margin: 5px;
        border: 2px solid cornflowerblue;
        height: 100%;
      }
      &.mainMemoryContainer {
        margin: 5px;
        border: 2px solid cornsilk;
        height: 100%;
      }
      &.forms {
        margin: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border: 2px solid cadetblue;
        padding: 10px;
        app-cache-l1-form {
          margin-bottom: 5px;
          width: 100%;
        }
        app-cache-l2-form {
          margin-bottom: 5px;

          width: 100%;
        }
        app-ram-form {
          margin-bottom: 5px;

          width: 100%;
        }
      }
    }
  }
}
