<div class='cluster'>
  <div class="clusterContainer">
    <app-node [nodeId]="'0'"></app-node>
    <app-node [nodeId]="'1'"></app-node>
    <app-node [nodeId]="'3'"></app-node>
    <app-node [nodeId]="'3'"></app-node>
  </div>
  <div class='memories'>
    <div class='cacheL2Container'>
      <app-cache-l2></app-cache-l2>
    </div>
    <div class='mainMemoryContainer'>
      <app-main-memory></app-main-memory>
    </div>
    <div class="forms">
      <h1>Dashboard</h1>
      <app-cache-l1-form></app-cache-l1-form>
      <app-cache-l2-form></app-cache-l2-form>
      <app-ram-form></app-ram-form>
    </div>
  </div>
</div>
