<div class="terminalContainer">

    <div>
        <p> Current index: {{currentIndex}}</p>
        <p> {{scenario?.scenario }} </p>
        <p> NO MESSAGES</p>
    </div>
    <div class="buttons">
        <button mat-button color="warn" (click)="nextInstruction()">Next instruction</button>
        <button mat-button color="accent" (click)="continue()">
            <ng-container *ngIf="!running">
                Continue
            </ng-container>
            <ng-container *ngIf="running">
                Pause
            </ng-container>
        </button>
    </div>
</div>